.search-bar {
  margin: 20px;
  text-align:center;
}

.search_bar input{
  width: 85%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10 px;
  padding: 10px;
  border : 1px solid #dd;
  border-radius: 4px;
}

. list-group-item{
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
